<nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary mb-4" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Navbar Links + Logout Button -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <img *ngIf="user?.photoUrl" [src]=`${streamUrl}${user?.photoUrl}` class="rounded-circle" width="30"
            height="30" alt="User Photo">
        </li>
        <li>
          <a class="nav-link active" aria-current="page" href="#">{{user?.email}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>

      <!-- Logout Button -->
      <button class="btn btn-outline-light d-flex align-items-center" type="button" (click)="logout()">
        <i class="fas fa-sign-out-alt me-2"></i> Logout
      </button>
    </div>
  </div>
</nav>